POSTGRES_DB=servis_optimizasyon
POSTGRES_USER=servis_app
POSTGRES_PASSWORD=CHANGE_ME_LOCAL_ONLY
ASPNETCORE_ENVIRONMENT=Development
VITE_API_BASE_URL=http://localhost:8080
OSRM_CAR_URL=http://osrm-car:5000
OSRM_FOOT_URL=http://osrm-foot:5000
VROOM_URL=http://vroom:3000
OPTIMIZATION_URL=http://optimization:8000
